body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3c4245;
}

#root {
  width: 100vw;
  height: 100vh;
}

#attribution {
  bottom: 0;
  color: rgba(255, 255, 255);
  font-size: 12px;
  padding: 1rem;
  position: fixed;
  opacity: 0.5;
  right: 0;
  text-align: right;
  width: 50%;
}